{
  "parser": "@babel/eslint-parser",
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "parserOptions": {
    "requireConfigFile": false
  },
  "globals": {
    "window": true,
    "document": true
  },
  "plugins": ["prettier"],
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/function-component-definition": "off",
    "arrow-body-style": "off",
    "consistent-return": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
