@import 'styles/theme';

.heading {
  font-size: 27px;
  position: relative;
  z-index: 2;
  text-align: left;

  &::before {
    content: '';
    width: 100px;
    height: 40px;
    z-index: -1;
    background-color: $primary;
    position: absolute;
    top: 0;
    left: -30px;
  }
}

@media (min-width: 700px) {
  .heading {
    font-size: 35px;

    &::before {
      width: 130px;
      height: 60px;
    }
  }
}
