@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap';

$primary: #49de73;
$hover: #5dfc8a;
$text: #f0f0f0;
$white: #fff;
$dark: #333;
$black: #1a1a1a;
$gray: #d7d7d7;
$primary-font: 'Poppins';
