.wrapper {
  padding: 30px;
  width: 400px;
  height: 550px;
  display: flex;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 200px;
  border-radius: 50%;
}

.heading {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 22px;
  text-align: center;
  font-weight: 400;
}

.about {
  font-size: 13.5px;
  text-align: center;
  padding: 15px 0;
}

.role {
  font-size: 15px;
  padding: 5px 15px;
  margin-top: 10px;
  text-align: center;
  border-radius: 50px;
  display: block;
  width: 200px;
}

@media (max-width: 860px) {
  .wrapper {
    width: 100%;
    height: auto;
  }
}
