@import 'styles/theme';

.button {
  color: $black;
  background-color: $primary;
  padding: 12px 50px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.5s;

  &:hover {
    background-color: $hover;
  }
}
