@import 'styles/theme';

.label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 30px;
}

.error {
  font-size: 13px;
  font-weight: 500;
  color: red;
  margin-top: 8px;
}

.field {
  max-width: 700px;
  width: 100%;
}

.input {
  width: 100%;
  background-color: $gray;
  padding: 18px;
  border-radius: 10px;
  border: none;
  resize: none;

  &:focus {
    outline: 1px solid $black;
  }
}
