@import 'styles/theme';

.wrapper {
  margin-top: 80px;
  position: relative;
  width: 100%;
  max-width: 500px;
  margin-bottom: 25px;
}

.input {
  padding: 14px;
  background-color: $gray;
  border: none;
  border-radius: 10px;
  width: 100%;
  margin-right: 10px;
}

.label {
  font-size: 13.5px;
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
  color: gray;
}
