.wrapper {
  padding: 50px 30px;
  display: flex;
  justify-content: space-around;
}

.item {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-weight: 500;
  transition: transform 0.5s;
  display: inline-block;

  &:hover {
    transform: translateY(-5px);
  }
}

@media (max-width: 600px) {
  .item {
    display: none;
  }

  .wrapper {
    display: block;
  }
}
